certifi
chardet
datasets
dill
filelock
fsspec
huggingface-hub
idna
mkl-fft
mkl-random
mkl-service
multiprocess
numpy
olefile
pandas
Pillow
pyarrow
python-dateutil
pytz
requests
six
torch
torchaudio
torchvision
tqdm
typing-extensions
urllib3
xxhash
