certifi==2020.12.5
chardet==4.0.0
datasets==2.14.5
dill==0.3.3
filelock==3.0.12
fsspec
huggingface-hub
idna==2.10
mkl-fft
mkl-random==1.2.2
mkl-service==2.4.0
multiprocess==0.70.11.1
numpy
olefile==0.46
pandas==2.1.1
Pillow==10.1.0
pyarrow==13.0.0
python-dateutil
pytz==2021.1
requests
six==1.16.0
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tqdm==4.66.1
typing-extensions==4.8.0
urllib3
xxhash==3.4.1
